In [8]:
import pandas as pd
import numpy as np
FILE = "T:/Trafikslag/Försäljning och Trafikkompetens/Verksamhetsstöd och uppföljning/04 Trafikmätningar/xIvana Serge/00 Analys/Nullningsrapport/Test Fordon 157653/157653_report_20201116.csv"

In [9]:
vehicle = pd.read_csv(FILE, sep=";")

In [10]:
vehicle

,Planerad_tur_avgångstid,Observerad_tur_avgångstid,Avgång,VehicleOwnerID,LineNumber,Datum,Avgång.1,Riktning,Scheduled,Observed,Hållplats,PÅ,AV,PÅ_ORG,AV_ORG,IndexNumber,IndexNumberAllStops
0,14:07:00,14:07:52,18395506,157653,113,20201005,18395506,2,14:07:00,14:07:52,Solna centrum,7,0,6,0,0,1
1,14:07:00,14:07:52,18395506,157653,113,20201005,18395506,2,14:08:45,14:10:39,Storgatan,0,2,0,2,1,3
2,14:07:00,14:07:52,18395506,157653,113,20201005,18395506,2,14:09:49,14:11:57,Armégatan,0,3,0,4,2,4
3,14:07:00,14:07:52,18395506,157653,113,20201005,18395506,2,14:11:12,14:13:50,Västra skogen,0,1,0,1,3,6
4,14:07:00,14:07:52,18395506,157653,113,20201005,18395506,2,14:12:14,14:14:44,Krysshammarvägen,0,0,0,0,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10754,14:52:00,14:54:03,18552667,157653,540,20201113,18552667,1,15:33:26,15:47:49,Rinkeby centrum,2,29,2,32,24,33
10755,14:52:00,14:54:03,18552667,157653,540,20201113,18552667,1,15:34:17,15:48:46,Bytorget,0,4,0,4,25,34
10756,14:52:00,14:54:03,18552667,157653,540,20201113,18552667,1,15:37:24,15:51:03,Krällingegränd,0,0,0,0,26,35
10757,14:52:00,14:54:03,18552667,157653,540,20201113,18552667,1,15:39:24,15:52:23,Risingeplan,0,3,0,4,27,36
10758,14:52:00,14:54:03,18552667,157653,540,20201113,18552667,1,15:42:00,15:52:50,Tensta centrum,0,12,0,13,28,37

In [17]:
vehicle_grouped_avgångstid = vehicle.groupby(['Avgång','Observerad_tur_avgångstid','Riktning']).sum().reset_index()

In [18]:
vehicle_grouped_avgångstid

,Avgång,Observerad_tur_avgångstid,Riktning,VehicleOwnerID,LineNumber,Datum,Avgång.1,PÅ,AV,PÅ_ORG,AV_ORG,IndexNumber,IndexNumberAllStops
0,18395235,10:00:41,1,4729590,3390,606033120,551857050,22,22,23,21,435,562
1,18395259,15:29:51,1,4729590,3390,606033120,551857770,60,60,61,58,435,575
2,18395267,07:40:13,1,4729590,3390,606030630,551858010,76,76,72,79,435,564
3,18395273,17:00:11,1,4729590,3390,606030600,551858190,30,30,29,31,435,537
4,18395336,21:04:11,1,4729590,3390,606030660,551860080,39,39,37,40,435,508
...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,18746308,14:50:04,2,4571937,15660,585829841,543642932,43,43,40,46,406,459
530,18746361,15:52:02,1,4571937,15660,585829841,543644469,80,80,70,86,406,492
531,18746369,13:52:10,1,4571937,15660,585829841,543644701,48,48,45,49,406,509
532,18753746,12:19:59,2,2837754,9072,363618540,337567428,42,42,37,46,153,256
533,18753860,11:42:29,1,2995407,9576,383819570,356323340,25,25,26,23,171,248

In [14]:
list(vehicle)

['Planerad_tur_avgångstid',
 'Observerad_tur_avgångstid',
 'Avgång',
 'VehicleOwnerID',
 'LineNumber',
 'Datum',
 'Avgång.1',
 'Riktning',
 'Scheduled',
 'Observed',
 'Hållplats',
 'PÅ',
 'AV',
 'PÅ_ORG',
 'AV_ORG',
 'IndexNumber',
 'IndexNumberAllStops']